<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ramjikisena</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="main">
      
          <div class="nav-1">
            <h1>
              Helpline :
              <a href=""><i class="ri-phone-fill"></i> +91-9981122493 </a>
              <a href=""><i class="ri-mail-line"></i> shukla.ravi2@gmail.com </a>
            </h1>
          </div>
      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.jpeg" alt="">
          <a href="/profile">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a href="/profile">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
      </div>

      <div class="ramji-photo">
        <img src="/images/ramjikisena_logo.jpeg" alt="">
      </div>

      <div class="goto-div">
        <h1>Daily Darshan & Ram naam Meditation ЁЯСЙ</h1>
        <div class="goto-div-items">
          <a href="/impTemples">ЁЯЪй Important temples of Ayodhya</a>
          <a href="/mission">ЁЯОп Our Mission </a>
          <a href="/glory">ЁЯУЦ Glory of Ram naam</a>
          <a href="/feedback">тЬНя╕П Writing experience & feedback</a>
        </div>
      </div>

      <div class="about-content">
        <h1>About us</h1>
        <div class="about-img-1 about-img">
            <img src="/images/aboutImg1.jpeg" alt="">
            <span>рдЪрдиреНрджреНрд░рд╢реЗрдЦрд░ рд╕рд┐рдВрд╣</span>
        </div>
        <br> <br>
        <p>рдЬреЛ рд╡реНрдпрдХреНрддрд┐ рд╕рдорд╛рдЬ рдХреЗ рдЙрддреНрдерд╛рди рдФрд░ рд╕рдореГрджреНрдзрд┐ рдХреЗ рд▓рд┐рдП рд╕рдорд░реНрдкрд┐рдд рд╣реЛрддрд╛ рд╣реИ, рд╡рд╣ рдПрдХ рд╕рдЪреНрдЪреЗ рд╕рд╛рдорд╛рдЬрд┐рдХ рдХрд░реНрдордпреЛрдЧреА рд╣реЛрддрд╛ рд╣реИред рдЗрд╕ рд╡реНрдпрдХреНрддрд┐ рдХрд╛ рд╕рдВрдмрдВрдз рдЖрддреНрдордирд┐рд░реНрднрд░рддрд╛ рдФрд░ рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕реЗрд╡рд╛ рд╕реЗ рд╣реЛрддрд╛ рд╣реИ, рдЬрд┐рд╕рд╕реЗ рд╕рдорд╛рдЬ рдХреЛ рд╕рд╢рдХреНрдд рдмрдирд╛рдиреЗ рдХреЗ рд▓рд┐рдП рдЙрдирдХрд╛ рдкреВрд░рд╛ рд╕рдВрдХрд▓реНрдк рд╣реЛрддрд╛ рд╣реИред рдпрд╣ рд╡реНрдпрдХреНрддрд┐ рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕рдорд╕реНрдпрд╛рдУрдВ рдХреЗ рд╕рдорд╛рдзрд╛рди, рдЧрд░реАрдмреЛрдВ рдХреА рд╕рд╣рд╛рдпрддрд╛, рд╢рд┐рдХреНрд╖рд╛ рдХреЗ рдХреНрд╖реЗрддреНрд░ рдореЗрдВ рдпреЛрдЧрджрд╛рди рдФрд░ рд╕рдореГрджреНрдзрд┐ рдХреЗ рд▓рд┐рдП рдпреЛрдЬрдирд╛рдПрдВ рдмрдирд╛рдиреЗ рдХреЗ рдорд╛рдзреНрдпрдо рд╕реЗ рд╕рдХрд╛рд░рд╛рддреНрдордХ рдкрд░рд┐рд╡рд░реНрддрди рдХрд╛ рд╕рдорд░реНрдерди рдХрд░рддрд╛ рд╣реИред 
        </p>
            <br><br>

            <div class="about-img-2 about-img">
                <img src="/images/aboutImg2.jpeg" alt="">
            </div>
            <br><br>
            <p>
            рдЗрд╕ рд╡реНрдпрдХреНрддрд┐ рдХрд╛ рд╕рдВрдШ рд╕рдорд╛рдЬ рдореЗрдВ рд╕рд╛рдорд╛рдЬрд┐рдХ рдиреНрдпрд╛рдп, рд╕рд╛рдореВрд╣рд┐рдХ рд╕рд╣рдорддрд┐ рдФрд░ рд╕рдорд░рд╕рддрд╛ рдХреА рднрд╛рд╡рдирд╛ рдХреЛ рдмрдврд╝рд╛рд╡рд╛ рджреЗрдиреЗ рдХрд╛ рдХрд╛рд░рдг рдмрдирддрд╛ рд╣реИред рдЙрдирдХреА рд╕реЗрд╡рд╛рдПрдВ рди рдХреЗрд╡рд▓ рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕рдорд╕реНрдпрд╛рдУрдВ рдХрд╛ рд╕рдорд╛рдзрд╛рди рдХрд░рддреА рд╣реИрдВ, рдмрд▓реНрдХрд┐ рд╕рдореГрджреНрдзрд┐ рдФрд░ рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕рдорд░рд╕рддрд╛ рдХреА рджрд┐рд╢рд╛ рдореЗрдВ рдПрдХ рдорд╛рд░реНрдЧрджрд░реНрд╢рдХ рднреВрдорд┐рдХрд╛ рдирд┐рднрд╛рддреА рд╣реИрдВред
            <br><br>
            рдЗрд╕ рд░реВрдк рдореЗрдВ, рд╡рд╣ рдПрдХ рд╕рдЪреНрдЪреЗ рд╕рдорд╛рдЬ рд╕реЗрд╡рдХ рд╣реЛрддрд╛ рд╣реИ рдЬреЛ рд╕рдореГрджреНрдзрд┐, рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕рдорд╛рдзрд╛рди, рдФрд░ рд╕рд╛рдорд╛рдЬрд┐рдХ рд╕рдорд░рд╕рддрд╛ рдХреА рджрд┐рд╢рд╛ рдореЗрдВ рдЕрдкрдиреЗ рдЕрджрдореНрдп рд╕рдВрдХрд▓реНрдк рдХреЗ рд╕рд╛рде рд╕рдореГрджреНрдзрд┐ рдХреА рдУрд░ рдкрдердкреНрд░рджрд░реНрд╢рди рдХрд░рддрд╛ рд╣реИред</p>

            <div class="about-sir">
                <h2>Managed By : <br> Ravi Shukla <br> +91 99811 22493</h2>
                <img src="/images/aboutImg3.jpeg" alt="">
            </div>
      </div>

      <footer>
        <a href=""><i class="ri-facebook-fill"></i> Facebook</a>
        <a href=""><i class="ri-twitter-fill"></i> Twitter</a>
        <a href=""><i class="ri-youtube-fill"></i> Youtube</a>
      </footer>
    </div>
  </body>
</html>
