<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ramjikisena</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="main">
        <div class="help-icon">
            <i class="ri-question-line"></i>
            <a href="https://www.youtube.com/watch?v=IEo8RdFtTk0&t=921s">Help</a href="https://www.youtube.com/watch?v=IEo8RdFtTk0&t=921s">
        </div>

        <!-- <div class="nav-1">
            <h1>
                Helpline<i class="ri-whatsapp-line"></i>
                <a href=""><i class="ri-phone-fill"></i> +91-8109389682 </a>
                <a href=""><i class="ri-mail-line"></i> ramnaambank@gmail.com </a>
            </h1>
        </div> -->
        <div class="nav-2">
            <div class="left">
              <img src="/images/ramjikisena_logo.jpeg" alt="">
              <a href="/profile">Ramji Ki Sena</a>
            </div>
            <div class="right">
              <a href="/profile">Home</a>
              <a href="/about">About</a>
              <a href="/contact">Contact</a>
            </div>
          </div>

          <div class="ramji-photo">
            <img src="/images/ramjikisena_logo.jpeg" alt="">
          </div>

          <div class="goto-div">
            <h1>Daily Darshan & Ram naam Meditation 👉</h1>
            <div class="goto-div-items">
              <a href="/impTemples">🚩 Important temples of Ayodhya</a>
              <a href="/mission">🎯 Our Mission </a>
              <a href="/glory">📖 Glory of Ram naam</a>
              <a href="/feedback">✍️ Writing experience & feedback</a>
            </div>
          </div>

        <div class="contact-content">
            <h1>Contact</h1>
            <p>We thank all of you devotees for staying connected with Ram Naam Bank. By the great grace of Lord Ram ji,
                we got the company of all of you. The main objective of the Ram Naam Bank website is to get the name of
                Shri Ram propogate and written. The founder of this website Mr. CHANDRA PRAKASH is DIXIT . Ram Naam Bank
                has always been striving to get the youth of today and the respected elders to chant the name of Ram. We
                have the Online website www.ramnaambank.com where devotees can easily write Ram name.
            </p>
            <h2>
                <br>
                For any queries and questions ,please contact:
                <br><br>
                DIRECTOR & FOUNDER <br>
                MR.CHANDRA PRAKASH DIXIT <br>
                Kanpur Nagar (U.P.) - 208001 <br>
                Cell no : +9109565969653 <br>
                Email id: ramnaambankonline@gmail.com
            </h2>
        </div>
       

        <footer>
            <a href=""><i class="ri-facebook-fill"></i> Facebook</a>
            <a href=""><i class="ri-twitter-fill"></i> Twitter</a>
            <a href=""><i class="ri-youtube-fill"></i> Youtube</a>
        </footer>
    </div>
</body>

</html>