<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ramjikisena</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="main">
    

        <div class="nav-1">
          <h1>
            Helpline :
            <a href=""><i class="ri-phone-fill"></i> +91-9981122493 </a>
            <a href=""><i class="ri-mail-line"></i> shukla.ravi2@gmail.com </a>
          </h1>
        </div>
    <div class="nav-2">
      <div class="left">
        <img src="/images/ramjikisena_logo.jpeg" alt="">
        <a href="/profile">Ramji Ki Sena</a>
      </div>
      <div class="right">
        <a href="/profile">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <div class="ramji-photo">
      <img src="/images/ramjikisena_logo.jpeg" alt="">
    </div>

    <div class="goto-div">
      <h1>Daily Darshan & Ram naam Meditation ЁЯСЙ</h1>
      <div class="goto-div-items">
        <a href="/impTemples">ЁЯЪй Important temples of Ayodhya</a>
        <a href="/mission">ЁЯОп Our Mission </a>
        <a href="/glory">ЁЯУЦ Glory of Ram naam</a>
        <a href="/feedback">тЬНя╕П Writing experience & feedback</a>
      </div>
    </div>

    <div class="feedback-content">
      <h1>Ram name writing experience & Feedback</h1>

      <p>
        Jai Siyaram ji devotees! This website has been created by the grace of
        Shri Hanuman Ji Maharaj Ji to write Ram Naam online. Over the years
        the name of Ram is generally written on the books, but in today's era,
        we have to put a little tireless effort in writing the name of Ram in
        office, train, bus or any other place, so this website has been
        created. Now you can write Ram Naam online anywhere and anytime.It's a
        humble request to all the devotees, please tell your experience and
        suggestions of writing Ram Naam so that we can make amendments in this
        website & make it better.
      </p>
      <h5>
        редред Jai Shri Ram редред
        <br />
        редред Jai Hanuman редред
      </h5>
      <div class="feedback-form">
        <form action="">
          <div>

          
          <label for="">рдЖрдк рдХрд╛ рдЕрдиреБрднрд╡ / Your experience: </label>
          <textarea name="" id="" cols="30" rows="10" style="border: 1px solid #000"></textarea>
        </div>
        <div>
          <label for="">рд╢реБрдн рдирд╛рдо / Name :</label>
          <input type="text" name="" id="" />
        </div>

        <div>
          <label for="">рд╢рд╣рд░ рдХрд╛ рдирд╛рдо / City :</label>
          <input type="text" name="" id="" />
</div>


          <button>Submit</button>
        </form>
      </div>
    </div>

    <footer>
      <a href=""><i class="ri-facebook-fill"></i> Facebook</a>
      <a href=""><i class="ri-twitter-fill"></i> Twitter</a>
      <a href=""><i class="ri-youtube-fill"></i> Youtube</a>
    </footer>
  </div>
</body>

</html>