<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ramjikisena</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

  <div class="main">
   

    <div class="nav-1">
      <h1 class="marquee">
        Helpline :
        <a href=""><i class="ri-phone-fill"></i> +91-9981122493 </a>
      </h1>
    </div>
    <div class="nav-2">
      <div class="left">
        <img src="/images/ramjikisena_logo.jpeg" alt="">
        <a href="/profile">Ramji Ki Sena</a>
      </div>
      <div class="right">
        <a href="/profile">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <div class="ramji-photo">  
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yfXNVdIWKoE?si=_REKcLly8MrCQ0tL&amp;clip=Ugkxyd_2hSe4PQECqy1Z-1RW0SF72VofLhQV&amp;clipt=ENd_GJOaAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="goto-div">
      <h1>Daily Darshan & Ram naam Meditation ЁЯСЙ</h1>
      <div class="goto-div-items">
        <a href="/impTemples">ЁЯЪй Important temples of Ayodhya</a>
        <a href="/mission">ЁЯОп Our Mission </a>
        <a href="/glory">ЁЯУЦ Glory of Ram naam</a>
        <a href="/feedback">тЬНя╕П Writing experience & feedback</a>
      </div>
    </div>

    <div class="index-content">
      <div class="ramji-slider">
        <div class="ramji-slider-text">
          <h1>ЁЯЪйрдЬрдп рд╢реНрд░реА рд░рд╛рдо</h1>
          <h1>ЁЯЪйрдЬрдп рд╢реНрд░реА рд╣рдиреБрдорд╛рди</h1>
        </div>
        <img src="/images/ramji-slider-1.jpeg" alt="">
        <div class="count-info">
          <h3>тЬНя╕П Total written Ramcount - 103 </h3>
          <h3>ЁЯОп Total visited devotees - 24</h3>
          <h3>ЁЯОп Total registered devotees - <%=userCount%> </h3>
        </div>
      </div>
    </div>

   
    <div class="w-full h-screen bg-center bg-cover bg-[url('https://ramnaambank.com/images/backgroundimg.jpg')] flex items-center justify-center">
      <!-- <div class="w-full md:w-[50%] lg:w-[40%] xl:w-[30%] bg-white px-6 py-8 rounded-[30px] "> -->
        <div  class="w-full md:w-[50%] lg:w-[40%] xl:w-[30%] bg-[#FBAA01] border-4 border-#5B1801 px-6 py-8 rounded-[30px]" style="border-color: #5B1801;" >
          <h1 class="text-3xl text-center font-semibold text-zinc-700 capitalize tracking-tighter leading-2">рд░рд╛рдо рдирд╛рдо рд▓реЗрдЦрди рд╣реЗрддреБ рд▓реЙрдЧрд┐рди / рд░рдЬрд┐рд╕реНрдЯрд░ рдХрд░реЗ - Login/Register here</h1>
  
          <%if(error.length>0){ %>
            <p class="flash-error" style="color: red;font-weight: 400;text-transform: capitalize;margin: 7px 0;text-align: center;"><%=error%></p>
          <% } %>
  
          <form action="/login" method="post">
              <input class="border-2 rounded-md mt-6 w-full px-3 py-2" type="text" name="username" placeholder="рд▓реЙрдЧрд┐рди рдЖрдИрдбреА / Login id">
              <input class="border-2 rounded-md mt-4 w-full px-3 py-2" type="password" name="password" placeholder="рдкрд╛рд╕рд╡рд░реНрдб / Password">
              <a class="mt-2 block text-sm font-semibold text-zinc-500 text-right" href="#">Forgot password?</a>
              <input class="border-2 rounded-full mt-4 w-full px-3 py-2 bg-[#5B1801] text-white" type="submit" value="рд▓реЙрдЧрд┐рди / Login">
          </form>
          <a class="block mt-7 text-sm px-3 py-2 border-2 rounded-full font-semibold text-white text-center bg-[#5B1801]" href="/register">рд░рдЬрд┐рд╕реНрдЯрд░ / Register</a>
      </div>
  </div>
  

  <footer>
    <a href=""><i class="ri-facebook-fill"></i> Facebook</a>
    <a href=""><i class="ri-twitter-fill"></i> Twitter</a>
    <a href=""><i class="ri-youtube-fill"></i> Youtube</a>
  </footer>

  </div>



  
</body>
</html>