<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ramjikisena</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="main">
      <div class="help-icon">
        <i class="ri-question-line"></i>
        <a href="https://www.youtube.com/watch?v=IEo8RdFtTk0&t=921s">Help</a href="https://www.youtube.com/watch?v=IEo8RdFtTk0&t=921s">      </div>

          <div class="nav-1">
            <h1>
              Helpline :
              <a href=""><i class="ri-phone-fill"></i> +91-9981122493 </a>
              <a href=""><i class="ri-mail-line"></i> shukla.ravi2@gmail.com </a>
            </h1>
          </div>
      <div class="nav-2">
        <div class="left">
          <img src="/images/ramjikisena_logo.jpeg" alt="">
          <a href="/profile">Ramji Ki Sena</a>
        </div>
        <div class="right">
          <a href="/profile">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </div>
      </div>

      <div class="ramji-photo">
        <img src="/images/ramjikisena_logo.jpeg" alt="">
      </div>

      <div class="goto-div">
        <h1>Daily Darshan & Ram naam Meditation ЁЯСЙ</h1>
        <div class="goto-div-items">
          <a href="/impTemples">ЁЯЪй Important temples of Ayodhya</a>
          <a href="/mission">ЁЯОп Our Mission </a>
          <a href="/glory">ЁЯУЦ Glory of Ram naam</a>
          <a href="/feedback">тЬНя╕П Writing experience & feedback</a>
        </div>
      </div>

      <div class="mission-content">
        <h1>рд░рд╛рдо рдирд╛рдо рдмреИрдВрдХ рдХрд╛ рдЙрджреНрджреЗрд╢реНрдп  </h1>
        <p>рд░рд╛рдо рдирд╛рдо рдмреИрдВрдХ рд╡реЗрдмрд╕рд╛рдЗрдЯ рдХрд╛ рдореБрдЦреНрдп рдЙрджреНрджреЗрд╢реНрдп рд╢реНрд░реА рд░рд╛рдо рдирд╛рдо рдХрд╛ рдкреНрд░рдЪрд╛рд░ рдПрд╡рдВ рд▓реЗрдЦрди рдХрд░рд╡рд╛рдирд╛ рд╣реИред рдЖрдк рдЗрд╕ рдкрд╛рд╡рди рд╡реЗрд╡рд╕рд╛рдЗрдЯ   <span style="font-weight: 700;">www.ramnaambank.com </span>  рдореЗрдВ рдЬрд╛рдХрд░ рдЕрдкрдирд╛ рдПрдХрд╛рдЙрдВрдЯ рд░рдЬрд┐рд╕реНрдЯрд░ рдХрд░ рд╕рдХрддреЗ рд╣реИ,рдлрд┐рд░ рд░рдЬрд┐рд╕реНрдЯрд░ рдХрд░рдиреЗ рдХреЗ рдмрд╛рдж рдЬрдм рдЖрдк рд▓реЙрдЧрд┐рди рдХрд░реЗрдВрдЧреЗ рддреЛ рдЖрдкрдХрд╛ рдПрдХ рдЕрд▓рдЧ рдЕрдХрд╛рдЙрдВрдЯ рдмрди рдЬрд╛рдпреЗрдЧрд╛ рдФрд░ рдЖрдк рдЬрд┐рддрдиреА рдмрд╛рд░ рднреА рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦреЗрдВрдЧреЗ рд╡реЛ рд░рд╛рдо рдирд╛рдо рдСрдирд▓рд╛рдЗрди рд╕рдВрдЧреНрд░рд╣рд┐рдд рд╣реЛ рдЬрд╛рдпреЗрдЧрд╛ред рдЖрдк рдЬрд┐рддрдиреЗ рднреА рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦрддреЗ рд╣реИ , рд╣рдо рд╕реЗрд╡рдХ рдЙрдирдХрд╛ рдкреНрд░рд┐рдВрдЯрдЖрдЙрдЯ рдирд┐рдХрд▓рд╡рд╛ рдХреЗ рд╢реНрд░реА рдЕрдпреЛрдзреНрдпрд╛ рдЬреА рдзрд╛рдо рд▓реЗ рдЬрд╛рддреЗ рд╣реИред рд╕рд░реНрд╡рдкреНрд░рдердо рд╣рдо рдЖрдк рд╕рднреА рдХреЗ рджреНрд╡рд╛рд░рд╛ рд▓рд┐рдЦреЗ рд╣реБрдП рд░рд╛рдо рдирд╛рдо рдзрди рдХреА рд╕реВрдЪрд┐ рдПрд╡рдВ рд░рд╛рдо рдирд╛рдо рдзрди рдХрд╛ рдкреНрд░рд┐рдВрдЯрдЖрдЙрдЯ рд╢реНрд░реА рд╣рдиреБрдорд╛рди рдЬреА рдорд╣рд╛рд░рд╛рдЬ рдЬреА рдХреЛ рджрд┐рдЦрд╛рддреЗ рд╣реИ рдФрд░ рдлрд┐рд░ рд╢реНрд░реА рдХрдирдХ рднрд╡рди рдЬреЛ рдХрд┐ рд╢реНрд░реА рдЕрдпреЛрдзреНрдпрд╛ рдЬреА рдзрд╛рдо рдореЗрдВ рд╢реНрд░реА рд╕реАрддрд╛рд░рд╛рдо рдЬреА рднрдЧрд╡рд╛рдиреН рдЬреА рдХрд╛ рдкреНрд░рдзрд╛рди рдордВрджрд┐рд░ рд╣реИ рд╡рд╣рд╛рдВ рдЬрд╛рдХрд░ рдЖрдкрдХреЗ рджреНрд╡рд╛рд░рд╛ рд▓рд┐рдЦреЗ рд╣реБрдП рд░рд╛рдо рдирд╛рдо рдзрди рдХреЛ рдЙрдирдХреЗ рд╢реНрд░реА рдЪрд░рдгреЛрдВ рдореЗрдВ рд╕рдорд░реНрдкрд┐рдд рдХрд░рддреЗ рд╣реИред рдЙрд╕рдХреЗ рдЙрдкрд░рд╛рдВрдд рдЖрдкрдХрд╛ рд░рд╛рдо рдирд╛рдо рдзрди рд╢реНрд░реА рд░рд╛рдо рдирд╛рдо рдмреИрдВрдХ рдЕрдпреЛрдзрдпрд╛ рдЬреА рдореЗрдВ рдЬрдорд╛ рдХрд░рд╡рд╛рддреЗ рд╣реИред рдПрдХ рдмрд╛рд░ рдлрд┐рд░ рд╕рднреА рднрдХреНрддреЛ рд╕реЗ рдЕрдиреБрд░реЛрдз рд╣реИ рдХреГрдкрдпрд╛ рдЬреНрдпрд╛рджрд╛ рд╕реЗ рдЬреНрдпрд╛рджрд╛ рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦреЗ рдПрд╡рдВ рдЕрдкрдиреЗ рдорд┐рддреНрд░реЛрдВ рдкрд░рд┐рдЬрдиреЛрдВ рдФрд░ рдЕрдиреНрдп рдХреЛ рдкреНрд░реЗрд░рд┐рдд рдХрд░реЗ рд░рд╛рдо рдирд╛рдо рд▓рд┐рдЦрд╡рд╛рдиреЗ рд╕реЗред рдкреНрд░рднреБ рд╢реНрд░реА рд░рд╛рдо рдЬреА рдХреА рдХреГрдкрд╛ рд╕рднреА рдкреЗ рдмрдиреА рд░рд╣реЗ рдЗрд╕реА рдЖрд╢рд╛ рдХреЗ рд╕рд╛рде рд╕реЗрд╡рдХ рдЯреАрдо рдХреА рд░рд╛рдо рд░рд╛рдо ред

        </p>
      </div>

      <footer>
        <a href=""><i class="ri-facebook-fill"></i> Facebook</a>
        <a href=""><i class="ri-twitter-fill"></i> Twitter</a>
        <a href=""><i class="ri-youtube-fill"></i> Youtube</a>
      </footer>
    </div>
  </body>
</html>
