<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-center bg-cover bg-[url('https://ramnaambank.com/images/backgroundimg.jpg')] flex items-center justify-center">
        <div class="w-full md:w-[50%] lg:w-[40%] xl:w-[30%]  px-6 py-8 rounded-[30px]">
            <h1 class="text-3xl mb-6 text-center font-semibold text-zinc-700 capitalize tracking-tighter leading-none">नये सदस्यता के लिए रजिस्टर करें/ New User Registration Form
            </h1>
    
            <% if (error && error.length > 0) { %>
                <p class="flash-error" style="color: red; font-weight: 400; text-transform: capitalize; margin: 7px 0; text-align: center;">
                  <%= error %>
                </p>
              <% } %>
            
    
            <form action="/register" method="post">
                <input class="border-2 rounded-md mt-4 w-full px-3 py-2" type="text" name="username" placeholder="यूजर लॉगिन आइडी / User Login id">
                <input class="border-2 rounded-md mt-4 w-full px-3 py-2" type="text" name="fullname" placeholder="पूरा नाम / Full Name">
                <input class="border-2 rounded-md mt-4 w-full px-3 py-2" type="email" name="email" placeholder="मेल आईडी / Email">
                <input class="border-2 rounded-md mt-4 w-full px-3 py-2" type="number" name="contact" placeholder="मोबाइल नंबर.*/Mobile No.*">
                <input class="border-2 rounded-md mt-4 w-full px-3 py-2" type="password" name="password" placeholder="पासवर्ड/Password">
                <input class="border-2 rounded-full mt-4 w-full px-3 py-2 bg-[#5B1801] text-white" type="submit" value="Submit">
               
            </form>
            <a class="block mt-7 text-sm px-3 py-2 border-2 rounded-full font-semibold text-white text-center bg-[#5B1801]" href="/">Home</a>
        </div>
    </div>
</body>
</html>